<p-table
  [value]="list" [paginator]="true" [rows]="10"
  (onRowSelect)="onRowSelect($event)" selectionMode="single"

  [(selection)]="selectedRec" dataKey="id" emptymessage="هیچ رکوردی وجود ندارد">

  <ng-template pTemplate="caption">
    لیست درخواست های واصله
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>کد</th>
      <th>انجام شده از طرف</th>
      <th>تاریخ ایجاد</th>
      <th>وضعیت ارجاع</th>
      <th>توضیحات</th>
      <th>نام</th>
      <th>درخواست کننده</th>
      <th>گردش کار</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>{{rowData['id']}}</td>
      <td>{{rowData['assignee']}}</td>
      <td>{{rowData['createTime'] | date:'short'}}</td>
      <td>{{rowData['delegationState']}}</td>
      <td>{{rowData['description']}}</td>
      <td>{{rowData['name']}}</td>
      <td>{{rowData['owner']}}</td>
      <td>{{rowData['processDefinition']}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" >
    <tr>
      <td  colspan="8" style="text-align: center" >
        هیچ رکوردی وجود ندارد
      </td>
    </tr>
  </ng-template>

<!--
  <ng-template pTemplate="footer"  [pSelectableRow]="rowData">
    <a [href]="" target="_blank" type="button" pButton icon="fa fa-check"  label="دیاگرام"></a>
  </ng-template>-->
</p-table>



<div class="ui-rtl" dir="rtl">

  <p-dialog  header="تایید" [(visible)]="displayDialog"
            showEffect="fade" [modal]="true"
[responsive]="true"
             [width]="1000"
             [rtl]="true"
             [resizable]="true"
             [maximizable]="true" [baseZIndex]="10000"
             [closable]="true"
  >


    <div class="container ss" style="padding: 60px;">
      <h4 style="text-align: center">آیا این مرخصی مورد تایید شما است ؟</h4>

      <hr/>
      <app-vacation-request [disabled]="true" *ngIf="vacation" [model]="vacation"></app-vacation-request>

      <hr/>

      <img [src]="imageToShow"
           alt="Place image title"
           *ngIf="imageToShow">
      <ng-template *ngIf="!imageToShow">
        <img src="fallbackImage.png" alt="Fallbackimage">
      </ng-template>


      <label style="text-align: right;color:darkblue" ><b>قصد انجام چه عملیاتی را دارید ؟</b></label>
      <select [(ngModel)]="actionType" class="form-control">
        <option selected="selected" value="none"  disabled="disabled" readonly="readonly">لطفا عملیات دلخواه خود را انتخاب نمایید</option>
        <option value="complete" style="color:green;font-weight: bold">انجام شد</option>
        <option value="claim" disabled="disabled" readonly="readonly">بدست گرفتن</option>
        <option value="delegate" disabled="disabled" readonly="readonly">ارجاع</option>
        <option value="resolve"  disabled="disabled" readonly="readonly">انجام بجا</option>

      </select>
      <br>
    </div>



    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-check" (click)="accept(null)" label="تایید"></button>
        <button type="button" pButton icon="fa fa-close" (click)="reject(null)" label="رد"></button>
        <button type="button" pButton icon="fa fa-eye" (click)="preview()" label="نمایش"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>



