<p-table
  [value]="list" [paginator]="true" [rows]="10"
  selectionMode="single"
  dataKey="id" emptymessage="هیچ رکوردی وجود ندارد">

  <ng-template pTemplate="caption">
    لیست درخواست های من
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>کد</th>
      <th>تاریخ شروع</th>
      <th>تاریخ پایان</th>
      <th>کاربر شروع کننده</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>{{rowData['id']}}</td>
      <td>{{rowData['startTime'] | date:'short'}}</td>
      <td>{{rowData['endTime'] | date:'short'}}</td>
      <td>{{rowData['startUserId']}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" >
    <tr>
      <td  colspan="8" style="text-align: center" >
        هیچ رکوردی وجود ندارد
      </td>
    </tr>
  </ng-template>

  <!--
    <ng-template pTemplate="footer"  [pSelectableRow]="rowData">
      <a [href]="" target="_blank" type="button" pButton icon="fa fa-check"  label="دیاگرام"></a>
    </ng-template>-->
</p-table>
