<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <a class="btn btn-outline-danger text-dark" (click)="logout()" *ngIf="AuthHolder.username" style="margin-right: 5px">خروج</a>
  <h5 class="my-0 mr-md-auto font-weight-normal">{{AuthHolder.username}} {{AuthHolder.username ? ' :  نام کاربری' : null}}</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="wm/workflows" routerLinkActive="active">فرم ها و گردش کار ها</a>
    <a class="p-2 text-dark" routerLink="wm/vacation" routerLinkActive="active">درخواست مرخصی</a>
    <a class="p-2 text-dark" routerLink="wm/personnel" routerLinkActive="active">لیست پرسنل</a>
    <a style="margin-right: 4px" class="btn btn-outline-info text-dark" routerLink="wm/myrequests" routerLinkActive="active">درخواست های من</a>
    <a style="margin-right: 4px" class="btn btn-outline-info text-dark" routerLink="wm/myhistory" routerLinkActive="active">تاریخچه</a>

  </nav>
  <a class="btn btn-outline-primary text-dark" routerLink="wm/inbox" routerLinkActive="active">صندوق ورودی</a>
</div>

<router-outlet></router-outlet>

<br>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <!--<div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" ></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>-->
  </footer>
