<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Araworkflowui</title>
  <base href="/" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/bootsrap4.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="assets/bootstrap/style.css" rel="stylesheet" />
</head>
<body>
  <app-root></app-root>




  <script src="assets/bootstrap/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="assets/bootstrap/jqueryslim.js"><\/script>')</script>
  <script src="assets/bootstrap/proper.js"></script>
  <script src="assets/bootstrap/bootsrap4.js"></script>
  <script src="assets/bootstrap/holder.js"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>
<script type="text/javascript" src="runtime.js"></script><script type="text/javascript" src="es2015-polyfills.js" nomodule></script><script type="text/javascript" src="polyfills.js"></script><script type="text/javascript" src="styles.js"></script><script type="text/javascript" src="vendor.js"></script><script type="text/javascript" src="main.js"></script></body>
</html>
